.App {
  text-align: center;
  color: rgb(255, 204, 51);
  background-color: rgb(78, 42, 132);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
}

.wrap-input {
  padding-top: 30px;

}

input {
  font-size: calc(15px + 2vmin);
}
